Resources/*.pyc
StockPick/log.html
StockPick/output.xml
StockPick/report.html
StockPick/geckodriver.log
StockPick/*.png
PurchaseOrder/log.html
PurchaseOrder/output.xml
PurchaseOrder/report.html
PurchaseOrder/geckodriver.log
PurchaseOrder/*.png
